body {
  padding: 1em;
  font-family: sans-serif;
  width: 60em;
  line-height: 120%;
}

footer {
  text-align: center;
}

img.title {
  float: left;
  padding-right: 1em;
}

td {
  padding-right: 1em;
  padding-bottom: 0.5em;
}
