body {
  padding: 1em;
  font-family: sans-serif;
  width: 60em;
  line-height: 120%;
}

header {
  padding-bottom: 0.5em;
}

header div.left {
  float: left;
  width: 50%;
  text-align: left;
}

header div.right {
  float: right;
  width: 50%;
  text-align: right;
}

header img {
  vertical-align: middle;
}

footer {
  text-align: center;
}

img.title {
  float: left;
  padding-right: 3em;
  padding-bottom: 1em;
}

th {
  text-align: left;
  vertical-align: top;
}

td {
  vertical-align: top;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

tr:nth-child(odd) {
    background-color: #f0f0f0;
}
