<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{page.title}}</title>
    <link href="{{ '/assets/site.css' | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>{{page.title}}</h1>
    {% if page.image %}<p><img class="title" src="../assets/{{page.image}}" alt="{{page.title}}" width="100" /></p>{% endif %}
{{content}}
    {% unless page.root %}
    <p><em><a href="{{ '/' | relative_url }}">…home</a></em></p>
    {% endunless %}
    <footer>
      <p><a href="http://rstudio.com"><img src="{{ '/assets/rstudio.png' | relative_url }}" alt = "RStudio" width="150" /></a></p>
    </footer>
  </body>
</html>
