<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{page.title}}</title>
    <link href="{{ '/assets/site.css' | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="left">
        <a href="{{ site.domain }}"><img src="{{ site.logo | relative_url }}" alt = "{{ site.title }}" width="30" /></a>
        {% unless page.permalink == '/' %}{{ site.title }}{% endunless %}
      </div>
      <div class="right">
        {% for item in site.menu %}
        {% include link.html text=item.name link=item.link permalink=page.permalink %}
        -
        {% endfor %}
        <div class="dropdown">
          <span>More…</span>
          <div class="dropdown-content">
            {% for item in site.more %}
            {% include link.html text=item.name link=item.link permalink=page.permalink %}
            {% unless forloop.last %}<br/>{% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
    </header>
    <br/>
    <h1>{{page.title}}</h1>
{{content}}
    <footer>
      <hr/>
      <p>© {{ site.year }} {{ site.author }}</p>
      <p><a href="{{ '/license/' | relative_url }}"><img src="{{ '/assets/cc-by.svg' | relative_url }}" alt="CC-BY" /></a></p>
    </footer>
  </body>
</html>
